.slides-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;   /* kills horizontal scroll */
}

.slides-bg {
  width: 100%;
  height: calc(100vh); /* navbar height */
  object-fit: cover;
  display: block;  /* removes bottom image gap */
}

.slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
}

.slide-overlay h1 span {
  color: #198754;
}
